# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Ignore credentials issued by the Fabric CA
wallet/*

# DB
file.db

# Ignore solidity contracts as these are copied from the bulletin-board repo
src/main/solidity/*